* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* em,
i {
  font-style: normal;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.w {
  width: 1200px;
  margin: 20px auto;
}

/* header */
header {
  display: flex;
  align-items: center;
  height: 105px;
  background-color: #f1edda;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin-left: 25px;
  width: 300px;
  height: 100%;
  background: url(../Images/logo.png) no-repeat center;
  background-size: contain;
}

.nav_item {
  padding-left: 25px;
  padding-right: 25px;

  color: #903f2b;
}
.nav_item:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
  width: 800px;
  height: 100%;
}

/* studio */

.studio_view {
  float: left;
  margin-left: 37.5px;
  width: 350px;
  height: 60%;
  background-color: blue;
}

.studio_section {
  height: 300px;
}

.studio_section h1 {
  color: #c1d8c3;
  text-align: center;
}

.front_desk {
  background: url(../Images/studio/front_desk.png) no-repeat center;
  background-size: contain;
}

.private_class {
  background: url(../Images/studio/private_class.png) no-repeat center;
  background-size: contain;
}

.group_class {
  background: url(../Images/studio/group_class.png) no-repeat center;
  background-size: contain;
}

.group_class {
}

/* about */
.about_section {
  padding: 25px;
  /* height: 600px; */
  background-color: #f1edda;
  text-align: center;
}
.about_section h1 {
  color: #c1d8c3;
}
