header {
  display: flex;
  color: #903f2b;
  font-size: 1.2rem;
  background-color: #f1edda;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo {
  margin-left: 15px;
  height: 100%;
  width: 300px;
  background: url(./images/logo.png) no-repeat center;
  background-size: contain;
}

.nav > ul {
  display: flex;
  margin: auto 25px;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
}

.nav > ul > li {
  padding-right: 25px;
}
