* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
